body {
  font-family: "Times New Roman", Times, serif;
  background-color: lightblue;
}

.titolo-pagina { 
  color: black;
  font-style: italic;
  font-weight: bold;
  /* Centra solo il titolo h1 */
  text-align: center;
  margin-top: 20px;
}

.primo-paragrafo {
  color: black;
  font-style: italic;
  /* Centra solo il paragrafo p */
  text-align: center;
  text-size: 20px;
}
.germano-reale{
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  border-radius: 30px;
}
